<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.sji.kansai.android.sample.animation"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AnimationSampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YokoPanda"></activity>
        <activity android:name="KiePanda"></activity>
        <activity android:name="RollingPanda"></activity>
        <activity android:name="TatePanda"></activity>
        <activity android:name="GiantPanda"></activity>
        <activity android:name="KumiawasePanda"></activity>
        <activity android:name="BigPanda"></activity>

    </application>
</manifest>